<body>
<div>
  <label>Nom du film a ajouter :
    <input #filmName />
  </label>
  <!-- (click) passes input value to add() and then clears the input -->
  <button (click)="add(filmName.value); filmName.value=''">
    Ajouter
  </button>
</div>
 <h2>Mes films enregistrés :</h2>
<ul class="films">
  <li *ngFor="let film of films">
    <a routerLink="/detail/{{film.id}}">
      <span class="badge">{{film.id}}</span> {{film.name}}
    </a>
    <button class="delete" title="Supprimer le film"
    (click)="delete(film)">x</button>
  </li>
</ul></body>